<div>
  <div class="footer mt-5">
    <div class="container mt-3">
      <div class="row">
        <div class="col-6 col-lg-4 pl-4">
          <h6 class="font-weight-bold text-white">Customer Service</h6>
          <div class="list-group list-group-flush list-group-no-border list-group-sm">
            <a href="javascript:void(0)" class="list-group-item list-group-item-action">Terms of Service</a>
          </div>
        </div>
        <div class="col-6 col-lg-4 pl-4">
          <h6 class="font-weight-bold text-white ">SNEAKPICK</h6>
          <div class="list-group list-group-flush list-group-no-border list-group-sm">
            <a href="javascript:void(0)" class="list-group-item list-group-item-action">About Us</a>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 pl-4">
          <h6 class="font-weight-bold text-white">Contact us</h6>
          <div class="list-group list-group-flush list-group-no-border list-group-sm">
            <span class="list-group-item"><strong>Email:</strong> cs.sneakpick@gmail.com</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright text-white">Copyright © 2022 SNEAK PICK All rights reserved</div>
</div>
