<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
    <div class="row">
      <h3 class="text-center"> Update product </h3>
      <hr />
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label>  Name</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="product.name"
                   name="firstName">
          </div>

          <div class="form-group">
            <label> Brand Name</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="product.brand"
                   name="lastName">
          </div>

          <div class="form-group">
            <label> Sizes</label>
            <input type="text" class="form-control" id="emailId" [(ngModel)]="product.sizes"
                   name="emailId">
          </div>
          <br />
          <button class="btn btn-success" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
