<div *ngIf="starNumber ==0"></div>
<div *ngIf="starNumber ==1">
  <i class="fa-solid fa-star"></i>
</div>
<div *ngIf="starNumber ==2">
  <i class="fa-solid fa-star"></i>
  <i class="fa-solid fa-star"></i>
</div>
<div *ngIf="starNumber ==3">
  <i class="fa-solid fa-star"></i>
  <i class="fa-solid fa-star"></i>
  <i class="fa-solid fa-star"></i>

</div>
<div *ngIf="starNumber ==4">
  <i class="fa-solid fa-star"></i>
  <i class="fa-solid fa-star"></i>
  <i class="fa-solid fa-star"></i>
  <i class="fa-solid fa-star"></i>
</div>
<div *ngIf="starNumber ==5">
  <i class="fa-solid fa-star"></i>
  <i class="fa-solid fa-star"></i>
  <i class="fa-solid fa-star"></i>
  <i class="fa-solid fa-star"></i>
  <i class="fa-solid fa-star"></i>
</div>


